body {
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
}

h3.title {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Tahoma", serif;
}

h2.title {
  font-size: 28px;
  line-height: 1.8;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Tahoma", serif;
}

.main-header {
  width: 100%;
  font-size: 0;
  text-align: center;
  height: 56px;
}

ul.main-nav {
  padding: 0;
}

.main-nav li {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  font-weight: bold;
}

.main-nav a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
  padding-top: 19px;
  padding-bottom: 19px;
}

a.logo {
  position: absolute;
  margin-left: -69px;
  font-size: 14px;
  z-index: 1;
}

li.left {
  float: left;
}

li.right {
  float: right;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.main-pic-block {
  height: 512px;
  text-align: left;
  margin-bottom: 0;
}

.main-pic-block img {
  position: absolute;
  max-height: 512px;
}

.welcome-pic {
  position: absolute;
  margin-top: 62px;
  left: 50%;
  margin-left: -228px;
  z-index: 1;
}

.welcome-pic-bottom {
  position: absolute;
  margin-top: 455px;
  z-index: 1;
}

.intro {
  height: 150px;
}

.intro h3 {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 60px;
}

.intro p {
  font-weight: normal;
}

div.blue {
  float: left;
  width: 320px;
  height: 147px;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 46px 40px 63px
}

.blue .title {
  color: #ffffff;
  margin-top: 0;
}

.blue p {
  font-weight: normal;
}

div.white {
  margin: 0;
  padding: 0;
  font-size: 0;
  height: 330px;
}

.white section {
  font-size: 14px;
  display: inline-block;
  width: 300px;
  height: 110px;
  margin: 135px 50px;
}

.white p {
  font-weight: normal;
}

.bar-two div {
  float: right;
}

.gray section {
  float: left;
  width: 262px;
  height: 256px;
  background-color: #eeeeee;
  color: #000000;
  padding-left: 69px;
  padding-right: 69px;
}

.gray .title {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

div.go-to-sedona {
  position: relative;
}

div.interested {
  margin-top: 310px;
  margin-bottom: 137px;
}

div.find-hotel {
  position: absolute;
  bottom: 204px;
  left: 50%;
  width: 567px;
  height: 481px;
  margin-left: -283px;
  background-color: #ffffff;
  z-index: 1;
}

.find-hotel .brown {
  background-color: #766357;
  padding-top: 34px;
  padding-bottom: 30px;
}

.find-hotel .title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

div.find-it {
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
}

.find-it-button {
  width: 457px;
  height: 57px;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  font-family: "PT Sans", "Arial", serif;
  text-transform: uppercase;
  background-color: #81b3d2;
}

div.form-group-mega {
  margin: 53px;
  font-weight: bold;
}

.form-group-mega div.form-group {
  height: 26px;
  padding: 15px;
  text-align: left;
}

.form-group-mega input {
  float: right;
  width: 326px;
}

div.qty-adults,
div.qty-childs {
  position: absolute;
  width: 218px;
  padding: 0;
  margin: 0;
}

div.qty-childs {
  right: 53px;
  width: 182px;
}

.qty-adults input,
.qty-childs input {
  width: 38px;
  height: 36px;
  padding: 0;
}

footer {
  font-size: 0;
  padding: 0;
  position: absolute;
  top: 2642px;
  height: 120px;
  background-color: rgba(255,255,255,0.9);
  width: 1200px;
}

footer > div {
  font-size: 14px;
  float: left;
  height: 50px;
  width: 400px;
  padding-top: 35px;
  padding-bottom: 35px;
}

footer > div > div {
  display: inline-block;
  width: 45px;
  height: 47px;
  background-color: #81b3d2;
  vertical-align: bottom;
}

.main-footer a {
  display: inline-block;
  padding: 13px;
}

div.visit a{
  font-size: 21px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
