body {
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.sprite {
	background: url(../img/sprites.png) no-repeat;
}

h3.title {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}

h2.title {
  font-size: 28px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  width: 100%;
  font-size: 0;
  text-align: center;
  min-height: 56px;
}

.main-nav {
  padding: 0;
}

.main-nav li {
  width: 20%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.main-nav a {
  display: inline-block;
  vertical-align: top;
  padding: 18px 0 20px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: #b2b2b2;
}

.active-page a,
.active-page a:hover,
.active-page a:active {
  color: #766357;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  font-size: 14px;
  z-index: 1;
}

.main-pic-block {
  position: relative;
  width: 1200px;
  height: 512px;
}

.main-pic {
  background-color: #e4f1f9;
  position: absolute;
  left: 0;
}

.welcome-pic {
  position: absolute;
  margin-top: 76px;
  left: 50%;
  margin-left: -229px;
  z-index: 1;
}

.welcome-pic-bottom {
  position: absolute;
  height: 57px;
  left: 0;
  margin-top: 455px;
  z-index: 1;
}

.intro h3 {
  display: block;
  max-width: 440px;
  margin: 0 auto;
  padding: 56px 30px 34px;
  line-height: 1.2;
}

.intro p {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 56px;
  font-weight: normal;
}

.bar-one img {
  float: right;
  background-color: #81b3d2;
}

.blue {
  float: left;
  width: 308px;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 41px 46px 48px;
  text-align: center;
}

.blue .title {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  margin: 0 auto;
  width: 160px;
  line-height: 1;
  padding: 5px 50px;
}

.blue span {
  display: inline-block;
  vertical-align: top;
  padding: 21px 20px 10px;
}

.blue p {
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  padding: 15px 0 11px;
  margin: 0;
  line-height: 1.5;
}

.white .reasons-partition {
  position: relative;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 55px 53px 68px;
  line-height: 1.5;
}

.house {
  position: absolute;
  left: 50%;
  margin-left: -38px;
  top: 60px;
	width: 75px;
	height: 72px;
  background-position: 0 0;
}

.burger {
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: 60px;
  background-position: 0 -100px;
	width: 74px;
	height: 70px;
}

.gift {
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: 57px;
  background-position: 0 -200px;
	width: 64px;
	height: 76px;
}

.white .title {
  display: block;
  margin-top: 100px;
}

.white p {
  font-weight: normal;
  max-width: 290px;
  margin-top: 0px;
}

.bar-two .blue {
  float: right;
}

.bar-two img {
  float: left;
  background-color: #81b3d2;
}

.gray {
  background-color: #eeeeee;
}

.gray .reasons-partition {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 10px 61px 44px;
  line-height: 1.4;
}

.gray .title {
  display: block;
  max-width: 160px;
  margin: 37px auto 25px;
  line-height: 1;
}

.gray span {
  display: block;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.gray p {
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  max-width: 275px;
}

.interested {
  position: relative;
  background-color: white;
}

.interested .title {
  font-size: 30px;
  margin-top: 52px;
}

.interested p {
  line-height: 1.7;
}

.brown {
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 396px;
  background-color: #766357;
  padding: 31px 139px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  cursor: pointer;
  border: none;
  z-index: 4;
}

.brown.with-js {
  margin-bottom: 0;
}

.brown:hover {
  background-color: #604e43;
}

.brown:active {
  background-color: #503e33;
  color: #706158;
}

.hiding-block {
  position: absolute;
  background-color: white;
  bottom: -395px;
  padding: 55px;
  left: 50%;
  margin-left: -284px;
  display: none;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
          box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.form-group-mega {
  padding-bottom: 54px;
  font-weight: bold;
}

.form-group-mega .form-group {
  text-align: left;
}

.date-in,
.date-out {
  padding-top: 9px;
  margin-bottom: 29px;
}

.calendar-input {
  float: right;
  min-width: 295px;
  padding-left:10px;
  padding-right: 40px;
  height: 38px;
  margin-top: -11px;
  font: inherit;
  background-color: #f2f2f2;
}

.form-group-mega input,
.form-group-mega button {
  background-color: #f2f2f2;
  border: none;
  font: inherit;
}

.form-group-mega button {
  cursor: pointer;
}

.form-group-mega input:hover,
.form-group-mega button:hover {
  background-color: #ebebeb;
}

.form-group-mega input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.button-calendar {
  position: absolute;
  right: 62px;
  top: 62px;
  background-position: 0 -400px;
	width: 22px;
	height: 22px;
  font-size: 0;
}

.date-out .button-calendar {
  top: 128px;
}

.button-calendar:hover {
  background-position: 0 -300px;
}

.button-calendar:active {
  background-position: 0 -350px;
}

.qty-adults,
.qty-childs {
  min-height: 38px;
  position: relative;
  float: left;
  min-width: 227px;
}

.qty-childs {
  float: right;
  margin-right: 0px;
  min-width: 180px;
}

.qty-adults label,
.qty-childs label {
  float: left;
  padding-top: 10px;
  height: 100%;
}

.qty-adults input,
.qty-childs input,
.qty-adults button,
.qty-childs button {
  float: right;
  width: 38px;
  height: 38px;
  padding: 0;
  text-align: center;
}

.button-minus {
  position: absolute;
  background-color: #a9a9a9;
  height: 3px;
  width: 11px;
  right: 89px;
  bottom: 17px;
}

.button-plus-h {
  position: absolute;
  background-color: inherit;
  height: 3px;
  width: 11px;
  right: 14px;
  bottom: 17px;
}

.button-plus-v {
  position: absolute;
  background-color: inherit;
  height: 11px;
  width: 3px;
  right: 18px;
  bottom: 13px;
}

.button-plus,
.button-minus {
  background-color: #a9a9a9;
  cursor: pointer;
  font-size: 0;
}

button:hover + .button-plus,
button:hover + .button-minus,
.button-plus:hover,
.button-minus:hover {
  background-color: #000000;
}

button:active + .button-plus,
button:active + .button-minus,
.button-plus:active,
.button-minus:active {
  background-color: #81b3d2;
}

.qty-adults button,
.qty-childs button {
  font-size: 0;
}

.find-it-button {
  display: inline-block;
  padding: 17px 196px;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.find-it-button:hover {
  background-color: #669ec0;
}

.find-it-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map {
  position: relative;
  z-index: 2;
  background-color: #f2f1ef;
  background-image: url(../img/map.jpg);
}

.sort {
  background-color: #42719b;
  background-image: url(../img/mountains-filter.jpg);
  background-position: 0 30%;
  padding: 15px 73px 20px 71px;
  color: white;
}

.sort-block {
  padding: 0;
  float: left;
  width: 256px;
  text-align: left;
}

.sort .title {
  padding: 13px 0;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.sort .form-group {
  display: block;
  position: relative;
}

.sort label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  padding: 15px 13px;
}

.checking[type="checkbox"] {
  position: relative;
  z-index: -1;
  margin-right: 11px;
}

.form-group .check-mark-off {
  position: absolute;
  left: 0;
  top: 12px;
	width: 24px;
	height: 24px;
  background-position: -100px -350px;
  z-index: 1;
  cursor: pointer;
}

.checking[type="checkbox"]:checked + .check-mark-off {
  background-position: -100px -300px;
}

.checking[disabled] + .check-mark-off {
  background-position: -150px -350px;
}

.checking[disabled]:checked + .check-mark-off {
  background-position: -150px -300px;
}

.pricing {
  float: right;
  min-width: 316px;
}

.from-to {
  position: relative;
  border: 2px solid white;
  border-radius: 2%;
}

.from-to:before {
  content: "";
  position: absolute;
  background: white;
  width: 2px;
  height: 22px;
  left: 50%;
  margin-left: -1px;
  top: 7px;
}

.from-to label {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 151px;
  padding: 6px 0;
}

.from-to input {
  width: 30px;
  font: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.price-from input {
  width: 7px;
}

.price-to {
  margin-left: 6px;
}

.slider {
  position: relative;
  background-color: #928381;
  height: 2px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 33px;
}

.range-slider {
  background-color: white;
  height: 2px;
  width: 80%;
}

.range-element {
  background-color: #ababab;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -9px;
  border: 8px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.max-slider {
  left: 80%;
}

.range-element:hover {
  background-color: #1c4f80;
}

.show {
  float: right;
  padding: 0 95px;
}

.show button {
  display: inline-block;
  vertical-align: top;
  padding: 8px 33px;
  border: 2px solid white;
  border-radius: 2px;
  font: inherit;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.show button:hover {
  background-color: #ffffff;
  color: #000000;
}

.before-not-a-table {
  padding: 31px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.before-not-a-table .title {
  float: left;
  display: inline-block;
  vertical-align: top;
  max-width: 130px;
  font-size: 21px;
  font-weight: bold;
  margin-right: 47px;
}

.sorting {
  display: inline-block;
  float: left;
  vertical-align: top;
  margin-top: 8px;
  margin-bottom: 0;
  padding-left: 0;
}

.sorting li {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-right: 29px;
}

.sorting li:first-child {
  margin-right: 36px;
}

.sorting a {
  color: #c6c6c6;
  text-decoration: underline dotted #81b3d2;
}

.sorting a:hover {
  color: #81b3d2;
  text-decoration: underline dotted #81b3d2;
}

.sorting a:active {
  color: #000000;
  text-decoration: none;
}

a.sorting-active,
a.sorting-active:hover,
a.sorting-active:active {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-up-down {
  float: right;
  height: 15px;
  margin-top: 9px;
}

.sorting-triangle {
  float: right;
  margin-left: 13px;
  width: 11px;
  height: 10px;
  font-size: 0;
}

.triangle-up-gray {
  background-position: -200px -250px;
  cursor: pointer;
}

.triangle-up-gray:hover {
  background-position: -200px -150px;
}

.triangle-up-gray:active {
  background-position: -200px -200px;
}

.triangle-down-gray {
  background-position: -250px -250px;
  cursor: pointer;
}

.triangle-down-gray:hover {
  background-position: -250px -150px;
}

.triangle-down-gray:active {
  background-position: -250px -200px;
}

.sorting-down-active,
.sorting-down-active:hover,
.sorting-down-active:active {
  background-position: -250px -200px;
}

.not-a-table {
  font-size: 0;
  margin-bottom: 17px;
}

.hotels-bar {
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 72px;
}

.hotels-bar-block {
  float: left;
  text-align: left;
  font-size: 0;
}

.rating {
  float: right;
}

.table-pic {
  display: block;
  font-size: 0;
  margin-right: 30px;
}

.hotel-link {
  display: block;
  text-decoration: none;
  font-size: 21px;
  line-height: 0.8;
  font-weight: bold;
  color: #000000;
  max-width: 260px;
}

.hotel-link:hover {
  color: #81b3d2;
}

.hotel-link:active {
  color: #b2b2b2;
}

.mini-block {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-right: 5px;
}

.details-hotel,
.details-price {
  display: block;
  font-size: 14px;
}

.details-booking,
.details-details {
  display: inline-block;
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.4;
  padding: 4px 17px;
}

.details-booking {
  background-color: #766357;
}

.details-booking:hover {
  background-color: #604e43;
}

.details-booking:active {
  background-color: #503e33;
  color: #766860;
}

.details-details {
  background-color: #81b3d2;
}

.details-details:hover {
  background-color: #669ec0;
}

.details-details:active {
  background-color: #5496bd;
  color: #6ca5c6;
}

.rating {
  text-align: right;
}

.stars {
  display: block;
  margin-left: auto;
  margin-bottom: 45px;
  font-size: 0;
}

.stars-four {
	background-position: -100px -250px;
	width: 89px;
	height: 17px;
}

.stars-two {
	background-position: -100px -150px;
	width: 42px;
	height: 17px;
}

.stars-three {
	background-position: -100px -200px;
	width: 65px;
	height: 17px;
}

.rating .value {
  background-color: #f2f2f2;
  padding: 6px 14px;
  max-width: 160px;
  font-size: 14px;
}

.hotels-bar:last-child {
  padding-bottom: 155px;
}

.main-footer {
  font-size: 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  z-index: 2;
}

.footer-block {
  float: left;
  width: 400px;
  padding: 37px 0 39px;
  text-align: center;
}

.visit {
  display: block;
  width: 200px;
  margin: 30px 100px;
  padding: 17px 0;
  font-size: 21px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin: 0 3px;
}

.social-twitter {
  background-position: -36px -283px;
}

.social-facebook {
  background-position: -33px -337px;
}

.social-yt {
  background-position: -38px -384px;
}

.social-icon:hover,
.social-icon:active {
  background-color: #5496bd;
}

.social-twitter:active {
  background-position: -186px -283px;
}

.social-facebook:active {
  background-position: -183px -337px;
}

.social-yt:active {
  background-position: -188px -384px;
}

.by-html-academy {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 41px;
  height: 39px;
  width: 195px;
  margin-left:102px;
	background-position: -100px 0;
}

.by-html-academy:hover {
  background-position: -100px -50px;
}

.by-html-academy:active {
  background-position: -100px -100px;
}

.show-me {
  display: block;
  position: absolute;
  z-index: 3;
  -webkit-animation-name: lift-down;
          animation-name: lift-down;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes lift-down {
  from {-webkit-transform: translateY(695px);transform: translateY(695px);}
  to {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

@keyframes lift-down {
  from {-webkit-transform: translateY(695px);transform: translateY(695px);}
  to {-webkit-transform: translateY(0px);transform: translateY(0px);}
}
