body {
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.sprite {
	background: url(../img/sprites.png) no-repeat;
}

h3.title {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Tahoma", serif;
}

h2.title {
  font-size: 28px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Tahoma", serif;
}

.main-header {
  width: 100%;
  font-size: 0;
  text-align: center;
  height: 63px;
}

ul.main-nav {
  padding-left: 0;
}

.main-nav li {
  display: inline-block;
  width: 20%;
  height: 63px;
  font-size: 14px;
  font-weight: bold;
}

.main-nav a {
  display: block;
  margin-top: 18px;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: #000000;
}

a.logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  top: 0px;
  font-size: 14px;
  z-index: 1;
}

li.left {
  float: left;
}

li.right {
  float: right;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: #b2b2b2;
}

.active-page a,
.active-page a:hover,
.active-page a:active {
  color: #766357;
  cursor: pointer;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

div.main-pic-block {
  position: relative;
  width: 1200px;
  height: 512px;
  margin-top: -7px;
}

img.main-pic {
  background-color: #e4f1f9;
  position: absolute;
  left: 0;
}

.welcome-pic {
  position: absolute;
  margin-top: 74px;
  left: 50%;
  margin-left: -229px;
  z-index: 1;
}

.welcome-pic-bottom {
  position: absolute;
  height: 57px;
  left: 0;
  margin-top: 455px;
  z-index: 1;
}

.intro {
  height: 150px;
}

.intro h3 {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;;
  margin-top: 56px;
  line-height: 1.2;
}

.intro p {
  font-weight: normal;
}

.bar-one {
  margin-top: 7px;
  background-color: #81b3d2;
  height: 256px;
}

div.blue {
  float: left;
  width: 320px;
  height: 147px;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 46px 40px 63px;
}

.blue .title {
  color: #ffffff;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 25px;
  width: 160px;
  line-height: 1;
}

.blue p {
  max-width: 308px;
  font-weight: normal;
  margin-bottom: 22px;
  margin-left: 5px;
  line-height: 1.4;
}

div.white {
  margin: 0;
  padding: 0;
  font-size: 0;
  height: 330px;
}

.white section {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 300px;
  height: 113px;
  margin: 135px 50px;
  line-height: 1.4;
}

.house {
  position: absolute;
  left: 50%;
  margin-left: -38px;
  bottom: 118px;
	width: 75px;
	height: 72px;
  background-position: 0 0;
}

.burger {
  position: absolute;
  left: 50%;
  margin-left: -37px;
  bottom: 118px;
  background-position: 0 -100px;
	width: 74px;
	height: 70px;
}

.gift {
  position: absolute;
  left: 50%;
  margin-left: -32px;
  bottom: 118px;
  background-position: 0 -200px;
	width: 64px;
	height: 76px;
}

.white p {
  font-weight: normal;
}

div.bar-two {
  margin-top: -2px;
  background-color: #81b3d2;
  height: 256px;
}

.bar-two div {
  float: right;
}

.gray section {
  float: left;
  width: 262px;
  height: 265px;
  background-color: #eeeeee;
  color: #000000;
  padding-left: 69px;
  padding-right: 69px;
  position: relative;
  z-index: 3;
}

.gray .title {
  margin-top: 47px;
  margin-bottom: 26px;
  padding-left: 52px;
  padding-right: 53px;
  line-height: 1;
}

.gray p {
  margin-bottom: 21px;
  line-height: 1.4;
}

div.go-to-sedona {
  position: relative;
}

div.interested {
  margin-top: 256px;
  padding-bottom: 123px;
  padding-top: 1px;
  position: relative;
  background-color: white;
  z-index: 3;
}

.interested .title {
  font-size: 30px;
  margin-top: 50px;
}

.interested p {
  line-height: 1.6;
}

div.map {
  position: relative;
  z-index: 2;
}

div.find-hotel {
  position: absolute;
  bottom: 204px;
  left: 50%;
  width: 568px;
  height: 481px;
  margin-left: -285px;
  background-color: #ffffff;
  z-index: 2;
}

div.brown {
  position: absolute;
  bottom: 597px;
  left: 50%;
  margin-left: -285px;
  z-index: 4;
}

div.hiding-block {
  position: absolute;
  background-color: white;
  bottom: 257px;
  width: 568px;
  height: 366px;
  left: 50%;
  margin-left: -285px;
  z-index: 2;
  display: none;
}

.brown input {
  background-color: #766357;
  padding: 0px;
  color: #ffffff;
  font-family: "PT Sans", "Tahoma", serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  width: 568px;
  height: 88px;
}

div.form-group-mega {
  margin-top: 50px;
  margin-left: 43px;
  margin-right: 39px;
  font-weight: bold;
}

.form-group-mega div.form-group {
  height: 37px;
  padding: 15px;
  text-align: left;
}

.form-group-mega input {
  float: right;
  width: 344px;
  height: 37px;
  margin-top: -11px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.form-group-mega input:hover {
  background-color: #ebebeb;
}

.form-group-mega input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

span.button-calendar {
  display: inline-block;
  position: absolute;
  right: 62px;
  top: 62px;
  background-position: 0 -400px;
	width: 22px;
	height: 22px;
}

.date-out span.button-calendar {
  top: 129px;
}

span.button-calendar:hover {
  background-position: 0 -300px;
}

span.button-calendar:active {
  background-position: 0 -350px;
}

div.qty-adults,
div.qty-childs {
  position: absolute;
  width: 226px;
  padding: 0;
  margin-left: -2px;
  margin-top: 1px;
}

div.qty-childs {
  right: 40px;
  width: 178px;
}

.qty-adults input,
.qty-childs input {
  display: inline-block;
  width: 38px;
  height: 36px;
  padding: 0px;
  text-align: center;
  margin-top: -10px;
}

.form-group input {
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", serif;
  font-weight: bold;
  font-size: 14px;
}

input.qty-adult,
input.qty-child {
  margin-top: -26px;
  width: 36px;
  height: 34px;
}

input.button-plus-adult,
input.button-plus-child {
  margin-top: -26px;
}

div.button-minus {
  position: absolute;
  background-color: #a9a9a9;
  height: 3px;
  width: 11px;
  right: 104px;
  bottom: 42px;
}

div.button-plus-h {
  position: absolute;
  background-color: inherit;
  height: 3px;
  width: 11px;
  right: 29px;
  bottom: 42px;
}

div.button-plus-v {
  position: absolute;
  background-color: inherit;
  height: 11px;
  width: 3px;
  right: 33px;
  bottom: 38px;
}

div.button-plus,
div.button-minus {
  background-color: #a9a9a9;
}

input:hover + div.button-plus,
input:hover + div.button-minus,
div.button-plus:hover,
div.button-minus:hover {
  background-color: #000000;
}

input:active + div.button-plus,
input:active + div.button-minus,
div.button-plus:active,
div.button-minus:active {
  background-color: #81b3d2;
}

.form-group-mega input[type="text"] {
  width: 37px;
  height: 36px;
}

.form-group-mega input:focus {
  background-color: #f2f2f2;
  outline: none;
  border: none;
}

.form-group-mega input[type="text"]:focus {
  width: 37px;
  height: 36px;

}

.qty-adults input[type="button"],
.qty-childs input[type="button"]{
  font-size: 0;
}

div.find-it {
  margin-left: auto;
  margin-right: auto;
  margin-top: 96px;
}

.find-it-button {
  width: 459px;
  height: 59px;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  font-family: "PT Sans", "Arial", serif;
  text-transform: uppercase;
  background-color: #81b3d2;
}

div.sort {
  height: 217px;
  background-color: #42719b;
  background-image: url(../img/mountains-filter.jpg);
  background-position: 0 20%;
  padding: 0px 73px 0px 61px;
  margin-top: -6px;
  color: white;
}

form.sort > div {
  padding-left: 11px;
  height: 176px;
  float: left;
  width: 240px;
  text-align: left;
  margin-right: 4px;
  margin-top: 5px;
}

form.sort h3 {
  margin-bottom: 29px;
}

div.pricing h3 {
  margin-bottom: 11px;
}

form.sort > div:last-child {
  float: right;
  width: 317px;
  margin-right: 0px;
  height: 190px;
}

.sort div.form-group {
  position: relative;
  width: 100%;
  height: 45px;
}

div.form-group.sorting-form input {
  margin-right: 25px;
}

div.form-group span.check-mark-off {
  display: inline-block;
  position: absolute;
  left: -2px;
  top: -2px;
	width: 24px;
	height: 24px;
  background-position: -100px -350px;
  z-index: 1;
}

input[type="checkbox"]:checked + span.check-mark-off {
  background-position: -100px -300px;
}

input[type="checkbox"] {
  position: relative;
  z-index: -1;
}

.sort div.pricing {
  width: 330px;
}

div.from-to {
  position: relative;
  border: 2px solid white;
  border-radius: 2%;
  width: 250px;
  height: 13px;
  padding: 8px 0px 11px 65px;
}

div.from-to:before {
  content: "";
  position: absolute;
  background: white;
  width: 2px;
  height: 22px;
  left: 50%;
  top: 7px;
}

.from-to label:first-child {
  margin-right: 88px;
}

.from-to input {
  width: 33px;
  font: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

div.slider {
  position: relative;
  background-color: #928381;
  height: 2px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 33px;
}

div.range-slider {
  background-color: white;
  height: 2px;
  width: 80%;
}

div.range-element {
  background-color: #ababab;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -9px;
  border: 8px solid white;
  border-radius: 50%;
  cursor: pointer;
}

div.max-slider {
  left: 80%;
}

.range-element:hover {
  background-color: #1c4f80;
}

.show input {
  margin-left: 85px;
  width: 137px;
  height: 35px;
  border: 2px solid white;
  font: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
}

.sort h3 {
  font-size: 16px;
  color: white;
}

div.results {
  height: 664px;
  padding-left: 71px;
  padding-right: 71px;
}

div.before-not-a-table {
  height: 21px;
  padding-top: 30px;
  padding-bottom: 34px;
  margin-left: -70px;
  margin-right: -70px;
  padding-left: 70px;
  padding-right: 70px;
  border-bottom: 1px solid #e5e5e5;
}

div.before-not-a-table div.title {
  float: left;
  font-size: 21px;
  font-weight: bold;
  margin-right: 49px;
}

ul.sorting {
  text-align: left;
  margin-top: 5px;
}

.sorting li {
  font-size: 12px;
  display: inline-block;
  margin-right: 29px;
}

.sorting li:first-child {
  margin-right: 36px;
}

.sorting a {
  color: #c6c6c6;
  text-decoration: underline dotted #81b3d2;
}

.sorting a:hover {
  color: #81b3d2;
  text-decoration: underline dotted #81b3d2;
}

.sorting a:active {
  color: #000000;
  text-decoration: none;
}

a.sorting-active,
a.sorting-active:hover,
a.sorting-active:active {
  color: #81b3d2;
  text-decoration: none;
}

div.sorting-up-down {
  float: right;
  height: 15px;
  margin-top: -27px;
}

.sorting-up-down div {
  float: right;
  margin-left: 13px;
  width: 11px;
  height: 10px;
}

.triangle-up-gray {
  background-position: -200px -250px;
}

.triangle-up-gray:hover {
  background-position: -200px -150px;
}

.triangle-up-gray:active {
  background-position: -200px -200px;
}

.triangle-down-gray {
  background-position: -250px -250px;
}

.triangle-down-gray:hover {
  background-position: -250px -150px;
}

.triangle-down-gray:active {
  background-position: -250px -200px;
}

.sorting-down-active,
.sorting-down-active:hover,
.sorting-down-active:active {
  background-position: -250px -200px;
}

div.not-a-table {
  margin-left: -70px;
  margin-right: -70px;
}

div.hotels-bar {
  height: 150px;
  display: block;
  border-bottom: 1px solid #e5e5e5;
}

.not-a-table h2 {
  font-size: 21px;
  margin-top: 15px;
  margin-bottom: 17px;
}

div.hotels-bar > div {
  padding: 29px 22px 0px 0px;
  float: left;
}

div.hotels-bar div.rating {
  float: right;
  margin-right: 48px;
  text-align: right;
}

div.hotels-bar > div:first-child {
  margin-left: 70px;
}

.hotels-bar .about-hotel {
  padding: 10px;
  text-align: left;
}

a.hotel-link {
  text-decoration: none;
  color: #000000;
}

a.hotel-link:hover {
  color: #81b3d2;
}

a.hotel-link:active {
  color: #b2b2b2;
}

div.mini-block {
  margin-top: -7px;
  display: inline-block;
  margin-right: 11px;
  width: 100px;
}

div.details-booking,
div.details-details {
  margin-top: 23px;
  text-align: center;
}

div.details-booking a {
  background-color: #766357;
  padding: 4px 17px;
}

div.details-booking a:hover {
  background-color: #604e43;
}

div.details-booking a:active {
  background-color: #503e33;
  color: #766860;
}

div.details-details a {
  background-color: #81b3d2;
  padding: 4px 17px;
}

div.details-details a:hover {
  background-color: #669ec0;
}

div.details-details a:active {
  background-color: #5496bd;
  color: #6ca5c6;
}

.mini-block a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

div.rating {
  text-align: right;
}

div.stars {
  display: inline-block;
  margin-bottom: 40px;
}

.stars-four {
	background-position: -100px -250px;
	width: 89px;
	height: 17px;
}

.stars-two {
	background-position: -100px -150px;
	width: 42px;
	height: 17px;
}

.stars-three {
	background-position: -100px -200px;
	width: 65px;
	height: 17px;
}

.rating div.value {
  background-color: #f2f2f2;
  padding: 9px 14px;
}

footer {
  font-size: 0;
  position: absolute;
  height: 124px;
  background-color: rgba(255,255,255,0.9);
  width: 1200px;
  margin-top: -124px;
  z-index: 2;
}

footer > div {
  font-size: 14px;
  float: left;
  height: 50px;
  width: 400px;
  padding-top: 36px;
  padding-bottom: 35px;
}

footer > div:first-child {
  padding-top: 45px;
}

div.visit a {
  font-size: 21px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

div.links-social > div {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-position: -32px -337px;
  background-color: #81b3d2;
}

div.links-social div:first-child{
  background-position: -34px -285px;
}

div.links-social div:nth-child(2) {
  margin-left: 2px;
  margin-right: 2px;
}

div.links-social div:last-child{
  background-position: -37px -384px;
}

div.links-social a {
  display: inline-block;
  width: 46px;
  height: 48px;
}

div.links-social > div:hover {
  background-color: #5496bd;
}

div:active > div.back-social {
  position: absolute;
  top: 36px;
  width: 45px;
  height: 47px;
  background: rgba(84,150,189, 0.5);
}

div.by-html-academy {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 41px;
  margin-left: 100px;
	background-position: -100px 0;
	width: 195px;
	height: 39px;
}

div.by-html-academy:hover {
  background-position: -100px -50px;
}

div.by-html-academy:active {
  background-position: -100px -100px;
}

.by-html-academy a {
  display: inline-block;
  width: 195px;
	height: 39px;
}

 div.show-me {
  display: block;
  position: absolute;
  z-index: 2;
  animation-name: lift-down;
  animation-duration: 0.5s;
}

@keyframes lift-down {
  from {transform: translateY(-350px);}
  to {transform: translateY(0px);}
}
